* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  background: #0b1c3d; /* nền xanh đậm */
  color: #ffffff;
}

/* Home button */
.home-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 56px;          /* TO HƠN */
    height: 56px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;    /* icon to hơn */
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    z-index: 20;
    }

    .home-btn:active {
    transform: scale(0.92);
    }

/* Content */
.content {
  max-width: 700px;
  margin: 60px auto 160px;
}

.paragraph {
  margin-bottom: 40px;
}

.paragraph p {
  font-size: 18px;
  line-height: 1.6;
}

.paragraph img {
  margin-top: 12px;
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

/* White bottom section (1/4 page) */
.control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;              /* 1/4 màn hình */
  background: #ffffff;       /* nền trắng */
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 16px;
}

/* Progress bar */
#progress {
  flex: 1;
}

#playPauseBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#playPauseBtn img {
  width: 56px;   /* tăng nếu muốn dễ bấm hơn */
  height: 56px;
}
