
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    

    body {
      height: 100vh;
      background: #0b1c3d;
      font-family: Arial, system-ui, sans-serif;
      color: white;
      display: flex;
      flex-direction: column;
    }
    .home-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 56px;          /* TO HƠN */
    height: 56px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;    /* icon to hơn */
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    z-index: 20;
    }

    .home-btn:active {
    transform: scale(0.92);
    }
        .stars {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 20px 0;
    }



    /* ===== TOP AREA ===== */
    .top {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }

    .progress {
      position: absolute;
      top: 20px;
      font-size: 1rem;
      opacity: 0.8;
    }

    .word {
      font-size: 4.5rem;
      font-weight: 900;
      letter-spacing: 2px;
      margin-top: 50px;
    }

    .translate {
      font-size: 1.4rem;
      opacity: 0.8;
      font-style: italic;
    }
    .star {
        font-size: 2.2rem;
        color: #c7c7c7; /* xám ban đầu */
        transition: color 0.3s ease, transform 0.2s ease;
        }

        .star.active {
        color: #ffd43b; /* vàng */
        transform: scale(1.2);
        }


    /* ===== RECORD AREA ===== */
    .record-area {
      flex: 2;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .record-area img {
      width: 70px;
      height: 70px;
      opacity: 0.8;
    }

    .record-area:active {
      background: #f2f2f2;
    }
 